# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
.venv/
venv/
env/

# Server save data
server/saves/

# 3DS build artifacts
3ds/build/
3ds/*.3dsx
3ds/*.smdh
3ds/*.elf
3ds/*.map
3ds/*.cia
3ds/*.bnr

# ds build artifacts
ds/build/
ds/*.nds
ds/*.srl
ds/*.elf
ds/*.map
ds/*.bin
ds/*.o

# Vita build artifacts
vita/build/
vita/source/zlib/
vita/*.velf
vita/*.self
vita/*.vpk
vita/*.o

# PSP build artifacts
psp/build/
psp/*.elf
psp/*.map
psp/*.PBP
psp/*.SFO
psp/*.cso
psp/source/*.o

# Dumps
*.dmp
config.txt


# IDE
.vscode/
.idea/

# uv
*.lock

# OS
.DS_Store
Thumbs.db

# Claude
.claude/

# tools
tools/roms
tools/logs

# desktop
desktop/dats
desktop/logs

# others
*.json
*.exe
*.bak
*.lst
build_output/